<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <span class="navbar-brand">
        <span class="blue-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
          </svg>
        </span>
      </span>
      <span class="blue-text ms-4">Brands/List</span>
      <div class="border mx-0">|</div>
      <form class="d-flex">
        <input type="text" class="form-control search-bar" placeholder="Search">
        <div class="border"></div>
          <button type="button" class="btn filter-button dropdown-toggle" data-bs-toggle="dropdown">All</button>
          <a href="#" class="icon-button ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
              <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
            </svg>
          </a> 
      </form>
     <li>
        <button class="icon-button ml-auto" type="button " (click)="OpenModel()">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg> 
      </button>
   </li>

      <a href="#" class="icon-button ml-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="navyblue" class="bi bi-arrow-repeat-fill" viewBox="0 0 16 16">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
        </svg>
      </a>
      
      <a href="#" class="icon-button ml-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="Blue" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
      </a>
    </div>
  </nav>

  
  <div class="form-floating my-4">
    <div class="row-3">
      <table class="table table-bordered bg-dark">
        <thead>
          <tr class="mx-2" >
            <th>##</th>
            <th>Code</th>
            <th>Name</th>
            <th>Under</th>
            <th>Image</th>
            <th>Remarks</th>
            <th>Labels</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listItems;let i=index">
            <th>{{i+1}}</th>
            <th>{{item.Code}}</th>
            <th>{{item.Name}}</th>
            <th>{{item.Under}}</th>
            <th><img class="img-fluid" [src]="item.Image"></th>
            <th>{{item.Remarks}}</th>
            <th>{{item.Label}}</th>
            <th><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
              <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
            </svg></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-dark">
      <p>Records per page: 5 </p>
    </div>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

  <script>
    // Fetching data from the backend API and populating the table
    fetch('https://api.efacto.app/testapi/api/Attribute/GetAttributeList?StatusCode=null&SearchValue&CmpId=1&Br')
      .then(response => response.json())
      .then(data => {
        const tableBody = document.getElementById('tableBody');
        let tableRows = '';

        data.forEach(item => {
          tableRows += `
            <tr>
              <td>{{item.number}}</td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.under}}</td>
              <td><img src="{{item.image}}" alt="{{item.name}}" width="50" height="50"></td>
              <td>{{item.remarks}}</td>
              <td>{{item.labels.join(', ')}}</td>
              
            </tr>
          `;
        });

        tableBody.innerHTML = tableRows;
        
        const recordCount = document.getElementById('recordCount');
      recordCount.textContent = data.length;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
    });
    
  </script>
</body>
</html>

<div class="my-4 col-6" *ngIf="openmodel==true">
  <h1 class="mb-3">Brand/Create</h1>
  <div class="row">
      <div class="col-6">
          <form #form="ngForm" (ngSubmit)="Create_new_api(form.value)">
              <div class=" mb-3">
                  <td><img src="" class="rounded float-start" height="50" width="50" alt="Image"></td>
              </div>
              <div class=" mb-3">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" [ngModel]
                  name="name">
                 
              </div>
              <div class=" mb-3">
                  <label for="code">Code</label>
                  <input type="code" class="form-control" id="code" [ngModel]
                  name="code">
                 
              </div>
              <div class=" mb-3">
                  <label for="company">Company</label>
                  <input type="text" class="form-control" id="Salary" [ngModel]
                  name="company">
              
              </div>
              <div class=" mb-3"> 
                  <label for="remarks">Remarks</label>
                  <input type="text" class="form-control" id="remarks" [ngModel]
                  name="remarks">
               
              </div>
              <div class="form-floating">
                  <button type="submit" class="btn btn-primary mb-3">Submit</button>
              </div>
              <div class="form-floating ">
                  <button type="button" class="btn btn-primary mb-3" (click)="CloseModel()">Close</button>
              </div>
          </form>
      </div>
  </div>    
</div>
